body {
  font-family: 'Fira Sans';
  text-align: center;
  font-size: 150%;
  color: #333;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1em;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.legends {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: small;
}

.legends div {
  width: 50px;
  height: 20px;
  margin: 0 5px 0 5px;
}

.legends .new {
  background-color: #c6fbc3;
}

.legends .old {
  background-color: #eff2a3;
}

.legends .none {
  background-color: whitesmoke;
}
