body {
  font-family: 'Fira Sans';
  text-align: center;
  font-size: 150%;
  color: #333;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
