body {
  font-family: 'Fira Sans';
  text-align: center;
  font-size: 150%;
  color: #333;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1em;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.tab {
  padding: 2em 3em 2em;
  margin: 3em;
  border: 1px solid;
}

.tab:hover {
  color: #fff;
  background: black;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map {
  display: flex;
  flex-direction: column;
}

.infos {
  width: 50%;
  text-align: center;
}

#inspire {
  font-size: medium;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 100px;
}

.legends {
  display: flex;
  flex-wrap: wrap;
  font-size: small;
  justify-content: center;
}

.legend {
  display: inherit;
  align-items: center;
  margin-right: 2em;
}

.legend div {
  width: 36px;
  height: 14px;
  margin: 0 5px 0 5px;
}

.legend .new {
  background-color: #c6fbc3;
}

.legend .old {
  background-color: #eff2a3;
}

.legend .none {
  background-color: whitesmoke;
}

@media (max-width: 830px) {
  body {
    font-size: 125%;
  }

  .map {
    display: flex;
  }
}

@media (max-width: 770px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .map {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .infos {
    width: 100%;
    margin: 3em;
  }

  ul {
    padding-left: 140px;
  }
}
